<!doctype html>
<html lang="en-us" data-reactid=".j9l3pooikg" data-react-checksum="957905143">
<head data-reactid=".j9l3pooikg.0"><title data-react-helmet="true" data-reactid=".j9l3pooikg.0.1:$Blockai | Login">
    Blockai | Login</title>
    <meta data-react-helmet="true" name="description" content="Claim ownership of your digital creations"
          data-reactid=".j9l3pooikg.0.2:$0"/>
    <meta data-react-helmet="true" charset="utf-8" data-reactid=".j9l3pooikg.0.2:$1"/>
    <meta data-react-helmet="true" property="og:site_name" content="Blockai" data-reactid=".j9l3pooikg.0.2:$2"/>
    <meta data-react-helmet="true" property="og:image" content="https://blockai.com/assets/claim.png"
          data-reactid=".j9l3pooikg.0.2:$3"/>
    <meta data-react-helmet="true" property="og:image:width" content="341" data-reactid=".j9l3pooikg.0.2:$4"/>
    <meta data-react-helmet="true" property="og:image:height" content="389" data-reactid=".j9l3pooikg.0.2:$5"/>
    <meta data-react-helmet="true" property="og:locale" content="en_US" data-reactid=".j9l3pooikg.0.2:$6"/>
    <meta data-react-helmet="true" property="og:title" content="Blockai" data-reactid=".j9l3pooikg.0.2:$7"/>
    <meta data-react-helmet="true" property="og:description" content="Claim ownership of your digital creations"
          data-reactid=".j9l3pooikg.0.2:$8"/>
    <meta data-react-helmet="true" property="og:card"
          content="Register your creation on the blockchain, a universal public database powered by bitcoin."
          data-reactid=".j9l3pooikg.0.2:$9"/>
    <script src="https://use.typekit.net/vlo3icc.js" data-reactid=".j9l3pooikg.0.5"></script>
    <script data-reactid=".j9l3pooikg.0.6">try {
        Typekit.load({async: false});
    } catch (e) {
    }</script>
    <link rel="shortcut icon" href="/favicon.ico" data-reactid=".j9l3pooikg.0.7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" data-reactid=".j9l3pooikg.0.8"/>
    <link href="/dist/main-ce87eb3e3537ba5d3cd7.css" media="screen, projection" rel="stylesheet" type="text/css"
          charset="UTF-8" data-reactid=".j9l3pooikg.0.9:$0"/>
</head>
<body data-reactid=".j9l3pooikg.1">
<div id="content" data-reactid=".j9l3pooikg.1.0">
    <div class="root" data-reactid=".1n1g098pkhs" data-react-checksum="-951926658">
        <noscript data-reactid=".1n1g098pkhs.0"></noscript>
        <noscript data-reactid=".1n1g098pkhs.1"></noscript>
        <div class="marketing" data-reactid=".1n1g098pkhs.2">
            <nav class="navbar navbar-default navbar-fixed-top" data-reactid=".1n1g098pkhs.2.0">
                <div class="container" data-reactid=".1n1g098pkhs.2.0.0">
                    <noscript data-reactid=".1n1g098pkhs.2.0.0.0"></noscript>
                    <div class="navbar-header" data-reactid=".1n1g098pkhs.2.0.0.1"><a class="nav-logo navbar-brand"
                                                                                      href="/"
                                                                                      data-reactid=".1n1g098pkhs.2.0.0.1.0"><img
                            src="/assets/blockai-logo.png" srcset="/assets/blockai-logo@2x.png 2x" alt="Blockai logo"
                            data-reactid=".1n1g098pkhs.2.0.0.1.0.0"/></a>
                        <button type="button" class="navbar-toggle" data-reactid=".1n1g098pkhs.2.0.0.1.1"><span
                                class="sr-only" data-reactid=".1n1g098pkhs.2.0.0.1.1.0">Toggle navigation</span><span
                                class="icon-bar" data-reactid=".1n1g098pkhs.2.0.0.1.1.1"></span><span class="icon-bar"
                                                                                                      data-reactid=".1n1g098pkhs.2.0.0.1.1.2"></span><span
                                class="icon-bar" data-reactid=".1n1g098pkhs.2.0.0.1.1.3"></span></button>
                    </div>
                    <div class="navbar-collapse collapse" data-reactid=".1n1g098pkhs.2.0.0.2">
                        <ul class="nav navbar-nav navbar-left" data-reactid=".1n1g098pkhs.2.0.0.2.0">
                            <li role="presentation" class="" data-reactid=".1n1g098pkhs.2.0.0.2.0.$0/=10"><a
                                    href="/how-it-works" data-reactid=".1n1g098pkhs.2.0.0.2.0.$0/=10.0">How it Works</a>
                            </li>
                            <li role="presentation" class="" data-reactid=".1n1g098pkhs.2.0.0.2.0.$1/=11"><a
                                    href="/featured-artists" data-reactid=".1n1g098pkhs.2.0.0.2.0.$1/=11.0">Featured
                                Artists</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" data-reactid=".1n1g098pkhs.2.0.0.2.1">
                            <li role="presentation" class="active"
                                data-reactid=".1n1g098pkhs.2.0.0.2.1.$login/=1$login"><a href="/auth/login"
                                                                                         data-reactid=".1n1g098pkhs.2.0.0.2.1.$login/=1$login.0">Login</a>
                            </li>
                            <li style="text-align:center;" href="/auth/signup"
                                data-reactid=".1n1g098pkhs.2.0.0.2.1.$signup/=1$signup">
                                <button class="btn btn-cta navbar-btn"
                                        data-reactid=".1n1g098pkhs.2.0.0.2.1.$signup/=1$signup.0">Sign Up
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div data-reactid=".1n1g098pkhs.2.1">
                <div class="auth" data-reactid=".1n1g098pkhs.2.1.0">
                    <div class="login" data-reactid=".1n1g098pkhs.2.1.0.0">
                        <noscript data-reactid=".1n1g098pkhs.2.1.0.0.0"></noscript>
                        <div class="highlight-header-secondary" data-reactid=".1n1g098pkhs.2.1.0.0.1"><h1
                                data-reactid=".1n1g098pkhs.2.1.0.0.1.0"><span class="glyphicon glyphicon-lock"
                                                                              data-reactid=".1n1g098pkhs.2.1.0.0.1.0.0"></span><span
                                data-reactid=".1n1g098pkhs.2.1.0.0.1.0.1"> </span><span
                                data-reactid=".1n1g098pkhs.2.1.0.0.1.0.2">Login</span></h1></div>
                        <div class="container" data-reactid=".1n1g098pkhs.2.1.0.0.2">
                            <div class="form col-xs-12 col-sm-6 col-md-6 col-lg-6 col-centered"
                                 data-reactid=".1n1g098pkhs.2.1.0.0.2.0">
                                <form class="form " method="post" action="/login"
                                      data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0">
                                    <div class="form-group" data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.1"><input
                                            type="email" value="" class="form-control" placeholder="Email"
                                            data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.1.0"/></div>
                                    <div class="form-group" data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.2"><input
                                            type="password" value="" class="form-control" placeholder="Password"
                                            data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.2.0"/></div>
                                    <div class="form-group" data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.3">
                                        <button type="submit" class="btn btn-primary btn-signup"
                                                data-reactid=".1n1g098pkhs.2.1.0.0.2.0.0.3.0">Login
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="have-account" data-reactid=".1n1g098pkhs.2.1.0.0.2.1"><a
                                    href="/auth/forgot-password" data-reactid=".1n1g098pkhs.2.1.0.0.2.1.0">Forgot your
                                password?</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer data-reactid=".1n1g098pkhs.2.2">
                <div class="container" data-reactid=".1n1g098pkhs.2.2.0">
                    <div class="row" data-reactid=".1n1g098pkhs.2.2.0.0">
                        <div class="col-md-3" data-reactid=".1n1g098pkhs.2.2.0.0.0"><h5 class="logo-text"
                                                                                        data-reactid=".1n1g098pkhs.2.2.0.0.0.0">
                            blockai</h5>
                            <p data-reactid=".1n1g098pkhs.2.2.0.0.0.1"><span data-reactid=".1n1g098pkhs.2.2.0.0.0.1.0">Japan Town Office</span><br
                                    data-reactid=".1n1g098pkhs.2.2.0.0.0.1.1"/><span
                                    data-reactid=".1n1g098pkhs.2.2.0.0.0.1.2">1832 Buchanan Street #201,</span><br
                                    data-reactid=".1n1g098pkhs.2.2.0.0.0.1.3"/><span
                                    data-reactid=".1n1g098pkhs.2.2.0.0.0.1.4">San Francisco, CA 94115</span></p></div>
                        <div class="col-md-3" data-reactid=".1n1g098pkhs.2.2.0.0.1"><h5
                                data-reactid=".1n1g098pkhs.2.2.0.0.1.0">Product</h5>
                            <ul data-reactid=".1n1g098pkhs.2.2.0.0.1.1">
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.1.1.0"><a href="/"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.1.1.0.0">Home</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.1.1.1"><a href="/how-it-works"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.1.1.1.0">How
                                    it Works</a></li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.1.1.2"><a href="/featured-artists"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.1.1.2.0">Featured
                                    Artists</a></li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.1.1.3"><a href="/faq"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.1.1.3.0">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3" data-reactid=".1n1g098pkhs.2.2.0.0.2"><h5
                                data-reactid=".1n1g098pkhs.2.2.0.0.2.0">Company</h5>
                            <ul data-reactid=".1n1g098pkhs.2.2.0.0.2.1">
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.0"><a href="/about"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.0.0">About</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.1"><a href="/contact"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.1.0">Contact</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.2"><a href="/blog"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.2.0">Blog</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.3"><a href="/jobs"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.3.0">Jobs</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.4"><a href="/press"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.4.0">Press</a>
                                </li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.2.1.5"><a href="/terms"
                                                                                 data-reactid=".1n1g098pkhs.2.2.0.0.2.1.5.0">Terms</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3" data-reactid=".1n1g098pkhs.2.2.0.0.3"><h5
                                data-reactid=".1n1g098pkhs.2.2.0.0.3.0">Contact</h5>
                            <ul data-reactid=".1n1g098pkhs.2.2.0.0.3.1">
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.3.1.0"><span
                                        data-reactid=".1n1g098pkhs.2.2.0.0.3.1.0.0">Call: </span><a
                                        href="tel:415-562-7529"
                                        data-reactid=".1n1g098pkhs.2.2.0.0.3.1.0.1">415-562-7529</a></li>
                                <li data-reactid=".1n1g098pkhs.2.2.0.0.3.1.1"><span
                                        data-reactid=".1n1g098pkhs.2.2.0.0.3.1.1.0">Email: </span><a
                                        href="/cdn-cgi/l/email-protection#640d0a020b2406080b070f050d4a070b09"
                                        data-reactid=".1n1g098pkhs.2.2.0.0.3.1.1.1"><span class="__cf_email__"
                                                                                          data-cfemail="4821262e27082a24272b232921662b2725">[email&#160;protected]</span>
                                    <script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */
                                    !function (t, e, r, n, c, a, p) {
                                        try {
                                            t = document.currentScript || function () {
                                                        for (t = document.getElementsByTagName('script'), e = t.length; e--;)if (t[e].getAttribute('data-cfhash'))return t[e]
                                                    }();
                                            if (t && (c = t.previousSibling)) {
                                                p = t.parentNode;
                                                if (a = c.getAttribute('data-cfemail')) {
                                                    for (e = '', r = '0x' + a.substr(0, 2) | 0, n = 2; a.length - n; n += 2)e += '%' + ('0' + ('0x' + a.substr(n, 2) ^ r).toString(16)).slice(-2);
                                                    p.replaceChild(document.createTextNode(decodeURIComponent(e)), c)
                                                }
                                                p.removeChild(t)
                                            }
                                        } catch (u) {
                                        }
                                    }()
                                    /* ]]> */</script>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" data-reactid=".1n1g098pkhs.2.2.0.1">
                        <div class="col-md-6" data-reactid=".1n1g098pkhs.2.2.0.1.0">© 2016 Blockai</div>
                        <div class="col-md-6 social-media" data-reactid=".1n1g098pkhs.2.2.0.1.1">
                            <ul data-reactid=".1n1g098pkhs.2.2.0.1.1.0">
                                <li class="social-media-facebook" data-reactid=".1n1g098pkhs.2.2.0.1.1.0.0"><a
                                        href="https://www.facebook.com/qcoin/"
                                        data-reactid=".1n1g098pkhs.2.2.0.1.1.0.0.0"></a></li>
                                <li class="social-media-twitter" data-reactid=".1n1g098pkhs.2.2.0.1.1.0.1"><a
                                        href="https://twitter.com/blockai"
                                        data-reactid=".1n1g098pkhs.2.2.0.1.1.0.1.0"></a></li>
                                <li class="social-media-angellist" data-reactid=".1n1g098pkhs.2.2.0.1.1.0.2"><a
                                        href="https://angel.co/blockai" data-reactid=".1n1g098pkhs.2.2.0.1.1.0.2.0"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script charset="UTF-8" data-reactid=".j9l3pooikg.1.1">window.__data = {
    "routing": {"locationBeforeTransitions": null},
    "user": null,
    "packs": {
        "master": {"id": "master", "name": "Master Pack", "qty": 500, "unitPrice": 20},
        "pro": {"id": "pro", "name": "Pro Pack", "pickMe": "recommended", "qty": 100, "unitPrice": 25},
        "starter": {"id": "starter", "name": "Starter Pack", "qty": 10, "unitPrice": 50}
    },
    "events": {"data": []},
    "registrations": {},
    "reports": null,
    "reportMatches": {},
    "ui": {"login": {}, "signup": {}, "profile": {}, "newRegistration": {"step": "Start"}, "uncaughtErrors": []},
    "activeRegistration": null,
    "analytics": {},
    "blog": {},
    "wait": {"loaded": true, "count": 0}
}</script>
<script src="/dist/main-ce87eb3e3537ba5d3cd7.js" charset="UTF-8" data-reactid=".j9l3pooikg.1.2"></script>
<script type="text/javascript">/* <![CDATA[ */
(function (d, s, a, i, j, r, l, m, t) {
    try {
        l = d.getElementsByTagName('a');
        t = d.createElement('textarea');
        for (i = 0; l.length - i; i++) {
            try {
                a = l[i].href;
                s = a.indexOf('/cdn-cgi/l/email-protection');
                m = a.length;
                if (a && s > -1 && m > 28) {
                    j = 28 + s;
                    s = '';
                    if (j < m) {
                        r = '0x' + a.substr(j, 2) | 0;
                        for (j += 2; j < m && a.charAt(j) != 'X'; j += 2)s += '%' + ('0' + ('0x' + a.substr(j, 2) ^ r).toString(16)).slice(-2);
                        j++;
                        s = decodeURIComponent(s) + a.substr(j, m - j)
                    }
                    t.innerHTML = s.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                    l[i].href = 'mailto:' + t.value
                }
            } catch (e) {
            }
        }
    } catch (e) {
    }
})(document);
/* ]]> */</script>
</body>
</html>