{% load staticfiles %}
<!doctype html>
<html lang="en-us" data-reactid=".28040zbc5xc" data-react-checksum="1307155488">
<head data-reactid=".28040zbc5xc.0"><title data-react-helmet="true" data-reactid=".28040zbc5xc.0.1:$PTest | Login">
    PTest | Login</title>
    <meta data-react-helmet="true" name="description" content="PTest System"
          data-reactid=".28040zbc5xc.0.2:$0"/>
    <meta data-react-helmet="true" charset="utf-8" data-reactid=".28040zbc5xc.0.2:$1"/>
    <meta data-react-helmet="true" property="og:site_name" content="PTest" data-reactid=".28040zbc5xc.0.2:$2"/>
    <meta data-react-helmet="true" property="og:image" content="{% static 'images/claim.png' %}"
          data-reactid=".28040zbc5xc.0.2:$3"/>
    <meta data-react-helmet="true" property="og:image:width" content="341" data-reactid=".28040zbc5xc.0.2:$4"/>
    <meta data-react-helmet="true" property="og:image:height" content="389" data-reactid=".28040zbc5xc.0.2:$5"/>
    <meta data-react-helmet="true" property="og:locale" content="en_US" data-reactid=".28040zbc5xc.0.2:$6"/>
    <meta data-react-helmet="true" property="og:title" content="PTest" data-reactid=".28040zbc5xc.0.2:$7"/>
    <meta data-react-helmet="true" property="og:description" content="PTest System"
          data-reactid=".28040zbc5xc.0.2:$8"/>
    <meta data-react-helmet="true" property="og:card" content="PTest System" data-reactid=".28040zbc5xc.0.2:$9"/>
    <link rel="shortcut icon" href="/favicon.ico" data-reactid=".28040zbc5xc.0.7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" data-reactid=".28040zbc5xc.0.8"/>
    <style type="text/css">
        .tk-proxima-nova {
            font-family: "proxima-nova", sans-serif;
        }
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap/css/custom1.css' %}" media="all">
    <link href="{% static 'bootstrap/css/custom.css' %}" media="screen, projection" rel="stylesheet" type="text/css"
          charset="UTF-8"
          data-reactid=".28040zbc5xc.0.9:$0"/>
</head>
<body data-reactid=".xe8hlb3ls0.1">
<div id="content" data-reactid=".xe8hlb3ls0.1.0">
    <div class="root" data-reactid=".onfwewxxj4" data-react-checksum="-938343631">
        <noscript data-reactid=".onfwewxxj4.0"></noscript>
        <noscript data-reactid=".onfwewxxj4.1"></noscript>
        <div class="marketing" data-reactid=".onfwewxxj4.2">
            <nav class="navbar navbar-default navbar-fixed-top" data-reactid=".onfwewxxj4.2.0">
                <div class="container" data-reactid=".onfwewxxj4.2.0.0">
                    <noscript data-reactid=".onfwewxxj4.2.0.0.0"></noscript>
                    <div class="navbar-header" data-reactid=".oaeoixxb7k.2.0.0.1">
                        <a class="nav-logo navbar-brand" href="/index" data-reactid=".oaeoixxb7k.2.0.0.1.0"><img
                                src="/static/images/ct-logo.jpg" data-reactid=".oaeoixxb7k.2.0.0.1.0.0"/></a>
                        <button type="button" class="navbar-toggle" data-reactid=".oaeoixxb7k.2.0.0.1.1"><span
                                class="sr-only" data-reactid=".oaeoixxb7k.2.0.0.1.1.0">Toggle navigation</span><span
                                class="icon-bar" data-reactid=".oaeoixxb7k.2.0.0.1.1.1"></span><span class="icon-bar"
                                                                                                     data-reactid=".oaeoixxb7k.2.0.0.1.1.2"></span><span
                                class="icon-bar" data-reactid=".oaeoixxb7k.2.0.0.1.1.3"></span></button>
                    </div>
                    <div class="navbar-collapse collapse" data-reactid=".oaeoixxb7k.2.0.0.2">
                        <ul class="nav navbar-nav navbar-left" data-reactid=".oaeoixxb7k.2.0.0.2.0">
                            <li class="" data-reactid=".2b7zjb3e874.2.0.0.2.0.$0/=10" role="presentation">
                                <a data-reactid=".2b7zjb3e874.2.0.0.2.0.$0/=10.0" href="/index/">PTest考评系统</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" data-reactid=".oaeoixxb7k.2.0.0.2.1">
                            <li role="presentation" class="active" data-reactid=".oaeoixxb7k.2.0.0.2.1.$login/=1$login">
                                <a href="/index" data-reactid=".oaeoixxb7k.2.0.0.2.1.$login/=1$login.0">Login</a>
                            </li>
                            <li style="text-align:center;" href="/signup/"
                                data-reactid=".oaeoixxb7k.2.0.0.2.1.$signup/=1$signup">
                                <button class="btn btn-cta navbar-btn"
                                        data-reactid=".oaeoixxb7k.2.0.0.2.1.$signup/=1$signup.0">Sign Up
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div data-reactid=".onfwewxxj4.2.1">
                <div class="auth" data-reactid=".onfwewxxj4.2.1.0">
                    <div class="signup" data-reactid=".onfwewxxj4.2.1.0.0">
                        <noscript data-reactid=".onfwewxxj4.2.1.0.0.0"></noscript>
                        <div class="highlight-header-secondary" data-reactid=".onfwewxxj4.2.1.0.0.1">
                            <div class="container" data-reactid=".onfwewxxj4.2.1.0.0.1.0">
                                <div class="col-lg-offset-2 col-lg-8" data-reactid=".onfwewxxj4.2.1.0.0.1.0.0"><h1
                                        class="visible-xs" data-reactid=".onfwewxxj4.2.1.0.0.1.0.0.0">Sign Up</h1>
                                    <h1 class="hidden-xs" data-reactid=".onfwewxxj4.2.1.0.0.1.0.0.1">请输入用户名、密码和班组进行注册</h1><h5
                                            data-reactid=".onfwewxxj4.2.1.0.0.1.0.0.2">Sign up in 30 seconds. Let's go.</h5></div>
                            </div>
                        </div>
                        <div class="container" data-reactid=".onfwewxxj4.2.1.0.0.2">
                            <div class="row" data-reactid=".onfwewxxj4.2.1.0.0.2.0">
                                <form class="form col-xs-12 col-sm-6 col-md-6 col-lg-6 col-centered"
                                      data-reactid=".onfwewxxj4.2.1.0.0.2.0.0" method="post" action="/signup/">
                                    {% csrf_token %}
                                    <div class="form-group" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.0"><label
                                            class="sr-only"
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.0.0">Name</label><input value=""
                                                                                                            type="text"
                                                                                                            class="form-control"
                                                                                                            placeholder="UserName"
                                                                                                            name="username"
                                                                                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.0.1"/>
                                    </div>
                                    <div class="form-group" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.1"><label
                                            class="sr-only"
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.1.0">Email</label><input value=""
                                                                                                             type="group"
                                                                                                             class="form-control"
                                                                                                             placeholder="Group"
                                                                                                             name="group"
                                                                                                             data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.1.1"/>
                                    </div>
                                    <div class="form-group" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2"><label
                                            class="sr-only"
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2.0">Password</label><input value=""
                                                                                                                type="password"
                                                                                                                class="form-control"
                                                                                                                placeholder="Password"
                                                                                                                name="password"
                                                                                                                data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2.1"/>
                                    </div>
                                    <div class="form-group" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2"><label
                                            class="sr-only"
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2.0">Password</label><input value=""
                                                                                                                type="password"
                                                                                                                class="form-control"
                                                                                                                placeholder="Repeat Password"
                                                                                                                name="repeat_password"
                                                                                                                data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.2.1"/>
                                    </div>
                                    <button class="btn btn-primary btn-signup"
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.3">Sign Up
                                    </button>
                                    <div class="agree-terms" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.4"><span
                                            data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.4.0">By signing up you agree to our </span><a
                                            href="" data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.4.1">terms of
                                        service</a><span data-reactid=".onfwewxxj4.2.1.0.0.2.0.0.4.2">.</span></div>
                                </form>
                            </div>
                            <div class="have-account" data-reactid=".onfwewxxj4.2.1.0.0.2.1"><a href="/index/"
                                                                                                data-reactid=".onfwewxxj4.2.1.0.0.2.1.0">Already
                                have an account?</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer data-reactid=".oaeoixxb7k.2.2">
                <div class="container" data-reactid=".oaeoixxb7k.2.2.0">
                    <div class="row" data-reactid=".oaeoixxb7k.2.2.0.1">
                        <div class="col-md-6" data-reactid=".oaeoixxb7k.2.2.0.1.0">© 2016 BlueSeraph</div>
                        <div class="col-md-6 social-media" data-reactid=".oaeoixxb7k.2.2.0.1.1">中国电信广东省网络操作维护中心交换网络室</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script charset="UTF-8" data-reactid=".28040zbc5xc.1.1">window.__data = {
    "routing": {"locationBeforeTransitions": null},
    "user": null,
    "packs": {
        "master": {"id": "master", "name": "Master Pack", "qty": 500, "unitPrice": 20},
        "pro": {"id": "pro", "name": "Pro Pack", "pickMe": "recommended", "qty": 100, "unitPrice": 25},
        "starter": {"id": "starter", "name": "Starter Pack", "qty": 10, "unitPrice": 50}
    },
    "events": {"data": []},
    "registrations": {},
    "reports": null,
    "reportMatches": {},
    "ui": {"login": {}, "signup": {}, "profile": {}, "newRegistration": {"step": "Start"}, "uncaughtErrors": []},
    "activeRegistration": null,
    "analytics": {},
    "blog": {},
    "wait": {"loaded": true, "count": 0}
}</script>
<script src="/dist/main-ce87eb3e3537ba5d3cd7.js" charset="UTF-8" data-reactid=".28040zbc5xc.1.2"></script>
</body>
</html>